doctype html
head
  link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/block.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.p-3.mb-2.bg-transparent
  h1.display-5.text-center.text-dark SMART SHIELD
  ul
    li
      a(href='/main') Home
    li
      a(href='/about') About
  .aboutus-container
    .text
      .header-aboutus
        h3.aboutus ABOUT US
      p.font-weight-normal Hi, Welcome to Smart Shield! We are a group of students from Boston University. We present this website to offer you a chance to be more productive. You can link the website with your google account so that we could keep track of your events in your calendar. By use the extensions provided by our website, you can block some websites which distract you during studying. Ready? Started by go back to the main page and try our extension!


