doctype html

head
  link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/block.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.p-3.mb-2.bg-transparent
  h1.display-5.text-center.text-dark SMART SHIELD
  ul
    li
      a(href='/main') Home
    li
      a(href='/about') About
