doctype html

head
  link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/block.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.p-3.mb-2.bg-transparent
  h1.display-5.text-center.text-dark SMART SHIELD
  ul
    li
      a(href='/main') Home
    li
      a(href='/about') About
    
    script(type='text/javascript').
        function myFunction() {
            var local_data =!{JSON.stringify(items)}
            document.getElementById("items").innerHTML = local_data;
        }

  

body(onload='myFunction()')
    
    .card-container4
      .header1
        h3 READY TO FOCUS
      .form-group
        form(method='POST', action='/updateAdd')
          input#exampleDropdownFormEmail2.form-control(type='text', placeholder='Type site url here to block', name='blockText')
          button#blockButton.primary4(type='Submit', name='blockButton') Add Site
        h3 Websites Being Blocked
          <p><span id="items"></span></p>
            form(method='POST', action='/getlength')
                h6.four Please specify a study period length
                input(type='text', name='getlength', list='timeperiod')
                datalist#timeperiod
                    option(value='a week')
                    option(value='two weeks')
                    option(value='three weeks')
                    option(value='four weeks')
                    option(value='forever')
                button.primary5(type='Submit') Enter

     
    
    .card-container5
      .header1
        h3 TAKE A BREAK
      form(method='POST', action='/updateDelete')
        input#exampleDropdownFormEmail2.form-control(type='text', placeholder='Type site url here to unblock', name='unblockText')
        button.primary1(type='Submit' id='unblock1Button' name='unblock1Button') Delete Site
      form(method='POST', action='/removeAll')
        button.primary2(type='Submit') Remove All
    pre.

    img.bg(src='/stylesheets/b1.jpg', alt='Responsive image')





