doctype html

head
  link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.p-3.mb-2.bg-transparent
  h1.display-5.text-center.text-dark SMART SHIELD
  ul
    li
      a(href='/main') Home
    li
      a(href='/about') About
.card-container4
  .header1
    h3 READY TO FOCUS
  .form-group
    form(method='POST', action='/updateAdd')
      input#exampleDropdownFormEmail2.form-control(type='text', placeholder='Type site url here to block', name='blockText')
      button#blockButton.primary3(type='Submit', name='blockButton') Add Site
  h3 Websites Being Blocked

.card-container5
  .header1
    h3 TAKE A BREAK
  form(method='POST', action='/updateDelete')
    input#exampleDropdownFormEmail2.form-control(type='text', placeholder='Type site url here to unblock', name='unblockText')
    button.primary1(type='Submit') Delete Site
  form(method='POST', action='/removeAll')
    button.primary2(type='Submit') Remove All
pre.
  



