doctype html
html(lang='en')
    head
      title Manage Websites
  
    body
        form(method='POST' action='/update')
            input(type='text', placeholder='Type site url here to block' name='blockText')
            Button(type='Submit') Add Site