doctype html
html(lang='en')
    head
      title Manage Websites
     
  
    body
        form(method='POST' action='/update')
            input(type='text', placeholder='Type site url here to block' name='blockText' id='blockText')
            Button(type='Submit' id='blockButton' name='blockButton') Add Site