doctype html
head
  link(rel='stylesheet', type='text/css', href='stylesheets/focus.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  script.
    var inc = 1000;
    function clock() {
    const date = new Date();
    const hours = ((date.getHours() + 11) % 12 + 1);
    const minutes = date.getMinutes();
    const seconds = date.getSeconds();
    const hour = hours * 30;
    const minute = minutes * 6;
    const second = seconds * 6;
    document.querySelector('.hour').style.transform = `rotate(${hour}deg)`
    document.querySelector('.minute').style.transform = `rotate(${minute}deg)`
    document.querySelector('.second').style.transform = `rotate(${second}deg)`
    }
    setInterval(clock, inc);
.mywater
  button.back(type='Submit')
    a(href='/main') BACK
  video#water(autoplay='', muted='', loop='')
    source(src='stylesheets/water.mp4', type='video/mp4')
  .wrap
    span.hour
    span.minute
    span.second
    span.dot
