extends layout

block content
  h1 Upcoming Events:
  form(method='POST' action='/')
    input(type='text', placeholder='Search for an event' name='searchText')
    Button(type='Submit') Search
  h2 The following schedule includes up to 10 upcoming events related to your search:
  pre #{events}
