doctype html
head
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
h1(align='center', aria-label='ABC')
  span A
  span B
  span C
p(align='right') To keep on track and block sites, add the smart planner extension.
form(method='POST', action='/add', align='right')
  button(type='Submit') Add extension
h2 Upcoming Events:
form(method='POST', action='/')
  input(type='text', placeholder='Search for an event', name='searchText')
  button(type='Submit') Search
pre.
  
a(href='/test.pug') Test


  
  

