doctype html
head
  link(rel='stylesheet', type='text/css', href='stylesheets/signup.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.bg
  .p-3.mb-2.bg-dark.text-white
    h1.display-5.text-center SMART SHIELD
  .main.container
    .row
      .col-md-6.col-md-offset-5
        h1.display-4.m-b-2 LOG IN
        form(method='POST' action='/login')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-dark(type='submit') Log in
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
            meta(name='google-signin-client_id', content='63389089138-gcn0kfpp3574epv1p3v41341fr1l4hud.apps.googleusercontent.com')
            script(src='https://apis.google.com/js/platform.js', async='', defer='')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
            script(src='../routes/googlelogin.js')
            style.
              .g-signin2 {
                margin-left: 0px;
                margin-right: 0px;
              }

              .data {
                display: none;
              }
        form(method='POST', action='/register')
          button.btn.btn-dark(type='submit') Sign up
        form(method='POST', action='#{locals.url}')
          button.btn.btn-dark(type='submit') Login with Google
          
        a(href='' id ='topopulate') Google Login
        pre #{errors}
        
