doctype html

head
    link(rel='stylesheet', type='text/css', href='stylesheets/signup.css')
body
  .main.container
    .row
      .col-md-6.col-md-offset-5
        h1.display-4.m-b-2 LOG IN
        form(method='POST' action='/login')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-primary(type='submit') Log in
        pre #{errors}
        form(method='POST' action='/googlelogin')
          div.form-group
            label Use Google to login
          button.btn.btn-primary(type='submit') Google
