doctype html
head
  link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.bg
  .p-3.mb-2.bg-transparent
    h1.display-5.text-center.text-dark SMART SHIELD
    ul
      li
        a(href='/main') Home
      li
        a(href='/about') About
      form(method='GET', action='logout', align='right')
        button.logout(type='Submit') Logout
  .card-container1
    .header
      h3.text-dark Upcoming Events in this Month:
    form(method='POST', action='/getEvents')
      input#exampleDropdownFormEmail2.form-control(type='text', placeholder='Search for an event', name='searchText')
      button.primary(type='Submit') Search
    pre.
      #{locals.events}
      
  .card-container2
    .text
      .header
        h3 Add Blocked Website
      h6.one Want to be more productive?
      h6.two Tired of Being Interrupted?
      h6.three Try Our Smart Shield Extension!
    form(method='GET', action='/getData', align='right')
      button.primary(type='Submit' align='center') Add extension
  .card-container3
    img.img-fluid(src='/stylesheets/signupbg.jpg', alt='Responsive image')
    h1.display-4.text-center.text-dark Hi,#{name}!
    form(method='POST', action='/focus', align='center')
      button.focus(type='Submit') FOCUS
    h3 Weather
    .weather
      script(src='https://code.jquery.com/jquery-2.1.3.min.js')
      script.
        $(document).ready(function() {
        // Get Location
        navigator.geolocation.getCurrentPosition(success, error);
        function success(pos) {
        var lat = pos.coords.latitude;
        var long = pos.coords.longitude;
        weather(lat, long);
        }
        function error() {
        console.log('There was an error');
        }
        // Call Weather
        function weather(lat, long) {
        var URL = `https://fcc-weather-api.glitch.me/api/current?lat=${lat}&lon=${long}`;
        $.getJSON(URL, function(data) {
        updateDOM(data);
        });
        }
        // Update Dom
        function updateDOM(data) {
        var city = data.name;
        var temp = Math.round(data.main.temp_max);
        var desc = data.weather[0].description;
        var icon = data.weather[0].icon;
        $('#city').html(city);
        $('#temp').html(temp);
        $('#desc').html(desc);
        $('#icon').attr('src', icon);
        }
        });
      .container
        h2#city
        .middle
          img#icon(src='', alt='icon')
          .degrees
            h1#temp
            span &deg;
          h3#desc
pre.
  
