doctype html
head
  link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.bg
  .p-3.mb-2.bg-transparent
    h1.display-5.text-center.text-dark SMART SHIELD
    ul
      li
        a(href='') Home
      li
        a(href='') News
      li
        a(href='') Contact
      li
        a(href='') About
  .card-container
    span.pro PRO
    h3 Upcoming Events:
    h6 New York
    form(method='POST', action='/')
      input#searchText(type='text', placeholder='Search for an event', name='searchText')
      button.primary(type='Submit') Search
  p(align='right') To keep on track and block sites, add the smart planner extension.
  form(method='GET', action='/getData', align='right')
    button(type='Submit') Add extension
  h2 Upcoming Events:
  form(method='POST', action='/')
    input#searchText(type='text', placeholder='Search for an event', name='searchText')
    button(type='Submit') Search
  pre.
    
  a(href='/test.pug') Test
