doctype html
head
  link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
.bg
  .p-3.mb-2.bg-transparent
    h1.display-5.text-center.text-dark SMART SHIELD
    ul
      li
        a(href='') Home
      li
        a(href='') News
      li
        a(href='') Contact
      li
        a(href='') About
  .card-container1
    .header
      h3 Upcoming Events:
    form(method='POST', action='/getEvents')
      input#searchText(type='text', placeholder='Search for an event', name='searchText')
      button.primary(type='Submit') Search
    pre.
      #{locals.events}
  .card-container2
    .text
      .header
        h3 Add Blocked Website
      h6.one Want to be more productive?
      h6.two Tired of Being Interrupted?
      h6.three Try Our Smart Shield Extension!
    form(method='POST', action='/getData', align='right')
      button.primary(type='Submit') Add extension
  .card-container3
    img.img-fluid(src='/stylesheets/signupbg.jpg', alt='Responsive image')
    h1.display-3.text-center.text-dark Hi, Name!
    form(method='POST', action='/focus', align='center')
      button.primary(type='Submit') FOCUS

