body{
	background-image: url(/stylesheets/mainbg.jpg);


  /* Center and scale the image nicely */
    background-position:center; 

    background-repeat: repeat;
    right: 0;
    bottom: 0;


}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #353866;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');


.header{
	border-radius: 8px;
	padding-top: 30px;
	height: 100px;
	width: 400px;
	background-color:rgba(67,67,83,0.75); 
	/*background-size: contain;*/
	color: rgb(41, 41, 43);
	margin-bottom: 30px;
}


.header1{
	border-radius: 8px;
	padding-top: 30px;
	height: 100px;
	width: 400px;
	background-color:rgba(67,67,83,0.75);

	/*background-size: contain;*/
	color: rgb(41, 41, 43);
	margin-bottom: 30px;
}

.header-aboutus{
	border-radius: 8px;
	padding-top: 30px;
	height: 100px;
	width: 400px;
	/*background-color:rgba(67,67,83,0.75);*/ 
	/*background-size: contain;*/
	color: rgb(41, 41, 43);
	margin-bottom: 30px;
	text-align: left;
}

h3.aboutus{
	color: rgb(41, 41, 43);
	margin-left: 10px;
	font-size: 
}


h3{
	color: rgb(41, 41, 43);
}

h3.four{
	margin: 5px 0;
	text-transform: uppercase;
	color:black;
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
	margin-top: 10px;
	top:40%;
	left:0%;
}

h6.one {
	margin: 5px 0;
	text-transform: uppercase;
	color:black;
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
	margin-top: 20px;
	top:20%;
	left:-10%;
}



h6.two {
	margin: 5px 0;
	text-transform: uppercase;
	color:black;
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
	margin-top: 30px;
	top:40%;
	left:0%;
}

h6.three {
	margin: 5px 0;
	text-transform: uppercase;
	color:black;
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
	margin-top: 30px;
	top:40%;
	left:10%;

	
}

h6.four {
	margin: 5px 0;
	text-transform: uppercase;
	color:black;
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
	margin-top: 110px;
	top:40%;
	left:0%;


}
h6.five {
	margin: 5px;
	text-transform: uppercase;
	color:black;
	font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: relative;
	margin-top: 10px;
	margin-left: 50px;
	top:5%;
	left:0%;
}


p {
	font-size: 14px;
	line-height: 21px;
	color:black;
}

p.font-weight-normal {
	font-size: 18px;
	line-height: 21px;
	color:black;
	margin-left: 10px;
}



.card-container1 {
	background-color: rgba(255,255,255.0.75);
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;

	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top:20%;




}

.aboutus-container {
	background-color: rgba(255,255,255,0.8);
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;

	position: fixed;
	width: 1200px;
	height: 500px;
	max-width: 100%;
	text-align: left;
	margin-left: 40px;
	top:20%;


}

.card-container1:hover {
	background-color: #f8faff;
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;

	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top:20%;



}

.card-container2 {
	background-color: rgba(255,255,255,0.5);
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top: 20%;
	left:66%;

}

.card-container2:hover {
	background-color: #f8faff;
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top: 20%;
	left:66%;

}

.card-container3 {
	background-color: rgba(255,255,255,0.75);
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top: 20%;
	left:33%;

}



button.primary {
	background-color: #CBA6C3;
	border: 1px solid #CBA6C3;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

button.primary:hover {
	background-color: #e85a71;
	border: 1px solid #e85a71;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

button.logout {
	background-color: rgba(25,29,33,0.5);
	border: 1px solid transparent;
	border-radius: 8px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 12px 25px;
}

button.logout:hover{
	background-color: rgba(25,29,33);
	border: 1px solid transparent;
	border-radius: 8px;
	color: white;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 12px 25px;
}

button.focus {
	background-color: #e85a71;
	border: 1px solid #e85a71;
	border-radius: 8px;
	color: #d8e9ef;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
	margin-left: 10px;
	margin-top: 10px;
	width: 30%;
	height: 10%;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

.card-container4 {
	background-color: rgba(255,255,255,0.5);
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top: 20%;
	left:17%;

}

.card-container4:hover{
	background-color: #f8faff;
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top: 20%;
	left:17%;

}


.card-container5 {
	background-color: rgba(255,255,255,0.75);
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top: 20%;
	left:50%;

}

.card-container5:hover{
	background-color: #f8faff;
	border-radius: 8px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	position: fixed;
	width: 400px;
	height: 500px;
	max-width: 100%;
	text-align: center;
	margin-left: 20px;
	top: 20%;
	left:50%;

}


button.primary1 {
	position: fixed;
	margin-top: 30px;
	background-color: #CBA6C3;
	border: 1px solid #CBA6C3;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;

	top: 50%;
	left:54%;

}

button.primary1:hover {
	position: fixed;
	margin-top: 30px;
	background-color: #e85a71;
	border: 1px solid #e85a71;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;

	top: 50%;
	left:54%;
}

button.primary2 {
	position: fixed;
	margin-top: 30px;
	background-color: #CBA6C3;
	border: 1px solid #CBA6C3;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;

	top: 50%;
	left:66%;


}

button.primary2:hover {
	position: fixed;
	margin-top: 30px;
	background-color: #e85a71;
    border: 1px solid #e85a71;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;

	top: 50%;
	left:66%;


}


button.primary3 {
	position: fixed;
	margin-top: 30px;
	background-color: #CBA6C3;
	border: 1px solid #CBA6C3;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;

	top: 50%;
	left:10%;


}

button.primary3:hover {
	position: fixed;
	margin-top: 30px;
	background-color: #e85a71;
    border: 1px solid #e85a71;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;

	top: 50%;
	left:10%;


}
button.primary4 {
	position: fixed;
	margin-top: 30px;
	background-color: #CBA6C3;
	border: 1px solid #CBA6C3;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;


	top:48%;
	left:28%;


}
button.primary4:hover {
	position: fixed;
	margin-top: 30px;
	background-color: #e85a71;
    border: 1px solid #e85a71;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;

	top:48%;
	left:28%;


}

button.primary5 {
	position: fixed;
	margin-top: 30px;
	background-color: #CBA6C3;
	border: 1px solid #CBA6C3;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 8px 20px;
	margin-left: 20px;

	top: 77%;
	left:28%;


}
button.primary5:hover {
	position: fixed;
	margin-top: 30px;
	background-color: #e85a71;
    border: 1px solid #e85a71;
	border-radius: 3px;
	color: #E0E3DA;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 6px 18px;
	margin-left: 20px;

	top: 77%;
	left:28%;


}

img{
	margin-bottom:30px;
}

#exampleDropdownFormEmail2{

	margin-left:10%;
	max-width: 80%;

}

.container {
	align-self: center;
                    max-width: 120px;
                    height: 20vh;

                    margin: 0 auto;
                    text-align: center;
                    color: rgb(41, 41, 43);
                    display: grid;
                    grid-template-rows: 20% 80%;
                    padding: 25px 5px;
                    position: fixed;
                    top:23%;
                    left: 7%;
                }

.degrees {
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    margin-left: 0.5rem;
                }

img.bg{
  border-radius: 8px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  position: fixed;
  width: 400px;
  height: 500px;
  max-width: 100%;
  text-align: center;
  margin-left: 20px;
  top: 20%;
  left:66%;
}

#icon{
	width: 30px;
	filter: grayscale(0%);
}

{
    padding: 0px;
    margin: 0px;
}
